{% load static %}
<footer class="bg-primary mt-auto">
    <div class="container-fluid container-lg py-5 text-white">
        <div class="row g-4 border-bottom border-secondary border-opacity-50 pb-4 mb-4">
            <div class="col-6 col-md-3">
                <h4 class="fw-bold mb-3 text-info">O Sindicato</h4>
                <ul class="list-unstyled d-grid gap-2 small">
                    <li><a href="#" class="text-white text-opacity-75 text-decoration-none hover-info">Quem Somos</a>
                    </li>
                    <li><a href="#" class="text-white text-opacity-75 text-decoration-none hover-info">Diretoria</a>
                    </li>
                    <li><a href="#" class="text-white text-opacity-75 text-decoration-none hover-info">Agenda</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h4 class="fw-bold mb-3 text-info">Conteúdos</h4>
                <ul class="list-unstyled d-grid gap-2 small">
                    <li><a href="#" class="text-white text-opacity-75 text-decoration-none hover-info">Notícias</a></li>
                    <li><a href="#" class="text-white text-opacity-75 text-decoration-none hover-info">Galeria de
                        Fotos</a></li>
                    <li><a href="#" class="text-white text-opacity-75 text-decoration-none hover-info">Artigos</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h4 class="fw-bold mb-3 text-info">Entidades Atendidas</h4>
                <ul class="list-unstyled d-grid gap-2 small">
                    <li><a href="#" class="text-white text-opacity-75 text-decoration-none hover-info">SENAI e SENAI
                        DN</a></li>
                    <li><a href="#" class="text-white text-opacity-75 text-decoration-none hover-info">SESI e SENAC</a>
                    </li>
                    <li><a href="#" class="text-white text-opacity-75 text-decoration-none hover-info">IEL e CNI</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h4 class="fw-bold mb-3 text-info">Contato</h4>
                <p class="small">Quadra 701, Ed. Trade Center Bloco C, Sala 405/406</p>
                <p class="small">Asa Norte, Brasília - DF, 70719-900</p>
                <p class="small mt-2">Telefone: (61) XXXX-XXXX</p>
                <p class="small">Email: contato@sindaf.org.br</p>
            </div>
        </div>

        <!-- Copyright atualizado para SINDAF -->
        <div class="text-center small">
            &copy; 2025 SINDCODE. Todos os direitos reservados.
        </div>
    </div>
</footer>
