<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Sindcode</title>
    <!-- Introdução ao DTL (Django Template Language) -->
    <link rel="stylesheet" href="{% static 'styles/style.css'%}">
</head>
<body>

    <div id="site">
        <div id="topo">
            aqui é o topo
            <div id="midias_busca">
                aqui são as midias e a busca
            </div>
            <div id="logo_menu">
                aqui é logo e o menu
            </div>
        </div>
        <div id="area">
            <div id="slide show">
                aqui é o slide show
            </div>
            <div id="noticias">
                aqui são as noticias
            </div>
            <div id="juridico">
                aqui é o juridico
            </div>
            <div id="beneficios">
                aqui são os beneficios
            </div>
            <div id="nota_pesar">
                aqui são as notas de pesar
            </div>
            <div id="tv_sindcode">
                aqui é os videos
            </div>
        </div>
        <div id="rodape">
            aqui é o rodapé
        </div>
    </div>

</body>
</html>