{% extends 'noticias/base.html' %} <!-- DTL - Django Template Language -->
{% load static %}
{% block content %}
    <div id="site">

        <main id="area">
            <div id="slide show">
                aqui é o slide show
            </div>
            <div id="noticias">
            {% for info in cards %}
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{% static 'assets/noticias/foto_noticias.jpeg' %}" class="img-fluid rounded-start" alt="mulheres pego no sindicato">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ info.nome }}</h5>
                        <p class="card-text">{{ info.conteudo }}</p>
                        <p class="card-text"><small class="text-body-secondary">{{ info.damta_publicacao }}</small></p>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
            </div>
            <div id="juridico">
                aqui é o juridico
            </div>
            <div id="beneficios">
                aqui são os beneficios
            </div>
            <div id="nota_pesar">
                aqui são as notas de pesar
            </div>
            <div id="tv_sindcode">
                aqui é os videos
            </div>
        </main>

    </div>
{% endblock %}